.jokePanel {
  background-color: rgb(225, 232, 245);
  border-radius: 50px;
  padding: 20px;
  margin: 2%;
  box-shadow: 1px 3px 7px 1px rgb(122, 121, 121);
  font-size: 1.1rem;
}

.jokeText {
  font-family: "Trebuchet MS";
  color: black;
}

.jokePanel:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 20px;
  margin: 2%;
  box-shadow: 1px 5px 7px 3px rgba(144, 144, 144, 0.836);
  font-size: 1.15rem;
}

img{
width: 30vw;

}

.image{
  border: 2px solid rgb(168, 175, 199);
  border-radius: 30px;
  box-shadow: 0px 2px 1px 3px 7px slategrey;
}